/* Container for the form */
.logInForm {
    width: 100%;
    max-width: 400px;
    margin: 100px auto;
    padding: 40px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Container for the form fields */
.ff {
    display: flex;
    flex-direction: column;
}

/* Styling for form fields */
.input {
    margin-bottom: 20px;
}

.input label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    color: #333;
}

.input input {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    transition: border-color 0.3s;
}

.input input:focus {
    border-color: #007BFF;
}

/* Styling for error message */
.error {
    color: #ff0000;
    margin-bottom: 20px;
    font-size: 14px;
}

/* Styling for the submit button */
button {
    padding: 12px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}
.sign-up{
    margin-top: 10px;
    color: #0056b3;
    cursor: pointer;
}
